/* Light Mode Variables */
:root {
    --header-background-color: #ead7f0;
    --header-text-color: #6a3771;
    --dropdown-background-color: #fff;
    --dropdown-border-color: #ccc;
    --dropdown-item-hover-background-color: #f3e5f5;
    --button-background-color: #c995c5;
    --button-hover: rgba(201, 149, 197, 0.1);
    --background-color: #fdf6ff;
    --text-color: #74368d;
    --card-background-color: #fff;
    --card-shadow-color: rgba(0, 0, 0, 0.1);
    --card-border-color: #ccc;
    --link-color: #af79c7;
    --link-hover-color: #8e4db0;
    --journal-entry-hover: #f0e6f6;
    /* Light mode: Hover background color */
    --calendar-background-color-light: #fff;
    /* Light mode: Calendar background color */
    --journal-entries-background-light: #f9f9f9;
    /* Light mode: Journal entries background color */
    --scrollbar-thumb-color: #f7ebf3;
    --scrollbar-thumb-hover: #423d51;
}

/* Dark Mode Variables */
body.dark-mode {
    --header-background-color: #2d2d4c;
    --header-text-color: #c89fff;
    --dropdown-background-color: #3e3e5d;
    --dropdown-border-color: #4a4a6a;
    --dropdown-item-hover-background-color: #4a4a6a;
    --button-background-color: #8c3eff;
    --button-hover: rgba(140, 62, 255, 0.1);
    --background-color: #1e1e2f;
    --text-color:#d1d1e9;
    --card-background-color: #2e2e4d;
    --card-shadow-color: rgba(0, 0, 0, 0.5);
    --card-border-color: #4a4a6a;
    --link-color: #9f66ff;
    --link-hover-color: #cfa6fd;
    --journal-entry-hover: #4d4d70;
    --calendar-background-color-dark: #36364f;
    --journal-entries-background-dark: #33334d;
    --scrollbar-thumb-color: #0d081c;
    --scrollbar-thumb-hover: #423d51;
}

/* Common Styles for Both Modes */
.calendar-container {
    display: flex;
    width: 100%;
    margin-top:50px;
    align-items: flex-start;
    justify-content: center;
    /* Adjusted alignment */
}

.calendar {
    width: 50%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: var(--calendar-background-color-light);
    /* Light mode: Calendar background color */
    height: 400px;
    /* Fixed height */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

body.dark-mode .calendar {
    background-color: var(--calendar-background-color-dark);
    /* Dark mode: Calendar background color */
}

/* Scrollbar Styles */
.calendar::-webkit-scrollbar {
    width: 4px;
}

.calendar::-webkit-scrollbar-track {
    background: var(--background-color);
}

.calendar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 4px;
}

.calendar::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.navigation span {
    font-size: 18px;
    font-weight: bold;
    color: var(--header-text-color);
}

.navigation button {
    background-color: var(--button-background-color);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.navigation button:hover {
    background-color: var(--button-hover);
}

.navigation select {
    padding: 5px;
    border: 1px solid var(--dropdown-border-color);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--dropdown-background-color);
    color: var(--text-color)
}

.navigation select:hover {
    background-color: var(--dropdown-item-hover-background-color);
}

.days {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 10px 0;
    border-radius: 5px;
}

.day-name,
.date {
    width: calc(100% / 7);
    text-align: center;
    padding: 10px 0;
}

.date a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 0;
    transition: background-color 0.3s ease;
}

.current-month a {
    color: var(--text-color);
}

.other-month a {
    color: var(--text-color);
    opacity: 0.5;
    /* Adjusted opacity for other months */
}

.date a:hover {
    background-color: var(--dropdown-item-hover-background-color);
    border-radius: 5px;
}

.dates {
    display: flex;
    flex-wrap: wrap;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.journal-entries {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: var(--calendar-background-color-light);
    /* Light mode: Journal entries background color */
    margin-left: 40px;
    height: 400px;
    /* Fixed height */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.journal-entries::-webkit-scrollbar {
    width: 4px;
}

.journal-entries::-webkit-scrollbar-track {
    background: var(--background-color);
}

.journal-entries::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 4px;
}

.journal-entries::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

body.dark-mode .journal-entries {
    background-color: var(--calendar-background-color-dark);
    /* Dark mode: Journal entries background color */
}
.no-entries {
    margin-top: 20px;
    margin-bottom: 20px
}

.journal-entry {
    margin-top:20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid var(--card-border-color);
    border-radius: 8px;
    background-color: var(--card-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.journal-entry:hover {
    background-color: var(--journal-entry-hover);
    /* Default to light mode hover color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.entry-date {
    font-size: 14px;
    color: var(--header-text-color);
    /* Light mode: Adjusted color for the entry date */
    font-weight: bold;
    /* Make the entry date bold */
    margin-bottom: 10px;
}

.entry-text {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.show-more {
    color: var(--link-color);
    cursor: pointer;
}

.entry-user {
    font-size: 14px;
    color: var(--header-text-color);
    /* Light mode: Adjusted color for the entry user */
    font-weight: bold;
    /* Make the entry user bold */
    margin-bottom: 10px;
}

.entry-date,
.entry-text,
.show-more,
.entry-user {
    margin-bottom: 10px;
}

.journal-entry {
    position: relative;
}

.entry-actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

.entry-actions .faPen,
.entry-actions .faTrash {
    cursor: pointer;
    margin-left: 10px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

.entry-text textarea {
    width: 100%;
    box-sizing: border-box;
}

.entry-actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

.entry-actions button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--button-background-color);
    /* Default button background color */
    color: #fff;
    /* Default button text color */
    transition: background-color 0.3s ease;
}

.entry-actions button:hover {
    background-color: var(--button-hover);
    /* Default button hover color */
}

.entry-text textarea {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--card-background-color);
    /* Light mode: Adjusted color for textarea background */
    color: var(--text-color);
    /* Light mode: Adjusted color for textarea text */
    border: 1px solid var(--card-border-color);
    /* Light mode: Adjusted border color */
    border-radius: 5px;
    padding: 10px;
    resize: vertical;
    font-size: 16px;
}

.entry-text textarea:focus {
    outline: none;
    border-color: var(--button-background-color);
}

/* Create Entry Button Styles */
.create-entry-button {
    background-color: var(--button-background-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-entry-button:hover {
    background-color: var(--button-hover);
}

/* Create Entry Dialog Styles */
.create-entry-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--card-shadow-color);
    padding: 20px;
    z-index: 1000;
    display: none;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
}

.create-entry-dialog.active {
    display: flex;
}

.create-entry-dialog .dialog-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
}

.create-entry-dialog .dialog-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create-entry-dialog .dialog-body input,
.create-entry-dialog .dialog-body textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.create-entry-dialog .dialog-body textarea {
    resize: vertical;
}

.create-entry-dialog .dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.create-entry-dialog .dialog-footer button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-entry-dialog .dialog-footer .cancel-button {
    background-color: var(--button-background-color);
    color: #fff;
}

.create-entry-dialog .dialog-footer .cancel-button:hover {
    background-color: var(--button-hover);
}

.create-entry-dialog .dialog-footer .save-button {
    background-color: var(--button-background-color);
    color: #fff;
}

.create-entry-dialog .dialog-footer .save-button:hover {
    background-color: var(--button-hover);
}

/* Overlay Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.overlay.active {
    display: block;
}